# Data files
chroma_data/
chroma_data/*
.env
embeddings_pca_512.npy
pca_model.joblib    
rag_data_integrated_final.csv

# Model files
model_files/
model_files/*

# Frontend build artifacts
frontend/node_modules/
frontend/node_modules/*
frontend/build/
frontend/build/*

# Python virtual environments
venv/
venv/*
venv_*/
.venv/
.venv/*
env/
env/*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
