services:
  chromadb:
    image: chromadb/chroma:latest
    container_name: kids-chatbot-chromadb
    ports:
      - "8000:8000"
    volumes:
      - ./chroma_data/chroma/storage:/chroma       # ✅ 여기만 바꿔주면 됨
    environment:
      - IS_PERSISTENT=TRUE
      - ANONYMIZED_TELEMETRY=FALSE
    networks:
      - chatbot-network

networks:
  chatbot-network:
    driver: bridge
