files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_sync_chroma.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      BUCKET_NAME="kids-chroma-data"
      LOCAL_PATH="/var/app/chroma_data"

      mkdir -p "${LOCAL_PATH}"
      aws s3 sync "s3://${BUCKET_NAME}/chroma_data" "${LOCAL_PATH}" --delete
